<!-- xxx Latest News xxx -->
                    <div class="col-sm-4" >
                        <div class="shadow-wrap footer-wrap">
                            <h3>Nos Services</h3>
                            <ul class="footer-news">
                                <li>
                                    <p><strong>Maçonnerie résidentielle</strong></p>
                                    <a href="residentiel.html">En savoir plus</a>
                                </li>
                                <li>
                                    <p><strong>Maçonnerie commerciale</strong></p>
                                    <a href="commercial.html">En savoir plus</a>
                                </li>
                                <li>
                                    <p><strong>Restauration de maçonnerie</strong></p>
                                    <a href="restauration.html">En savoir plus</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- xxx End xxx -->
                    
                    <!-- xxx Popular Posts xxx -->
                    <div class="col-sm-4" >
                        <div class="shadow-wrap footer-wrap">
                            <h3>Heures d'ouverture</h3>
                            
                            <ul class="footer-contact">
                                <li>
                                    <i class="fa fa-clock-o"></i> <strong>Lun - Ven</strong><br>
                                    10:00 Am - 6:00 PM EST
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> <strong>Samedi (Fin de semaine)</strong><br>
                                    10:00 Am - 2:00 PM EST
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> <strong>Dimanche (fermé)</strong><br>
                                    (Par courriel seulement)
                                </li>
                            </ul>
                            
                            
                        </div>
                    </div>
                    <!-- xxx End xxx -->
                    
                    <!-- xxx Contact Us xxx -->
                    <div class="col-sm-4 " data-animation="flipInY" data-animation-delay="700">
                        <div class="shadow-wrap footer-wrap">
                            <h3>Contactez-nous</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="fa fa-phone"></i> <span>(418) 720-9628</span>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i> <a href="mailto:info@maconneriems.com">info@maconneriems.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-print"></i> (418) 720-9628
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i> <span>48, rue Saint-Pierre,
Hébertville-Station (Québec) G0W 1T0</span>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                    <!-- xxx End xxx --><br>
                    <br>
                    
                </div>
            </div>
            <br>
             <div class="container ">
               <div class="row">
               <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-justified row">
                    <li class="col-md-2"><a href="http://www.apchq.com" target="_blank"><img src="images/clients/logo1.png" class="img-responsive"></a></li>
                    <li class="col-md-2"><a href="http://www.rbq.gouv.qc.ca" target="_blank"><img src="images/clients/logo2.png" class="img-responsive"></a></li>
                    <li class="col-md-2"><a href="http://www.ccq.org/" target="_blank"><img src="images/clients/logo3.png" class="img-responsive"></a></li>
                </ul>
                </div>
                </div>
            </div>
            <br>